:root{
    --maincolor: rgb(16, 133, 172);
    --secondarycolor: rgb(255, 255, 255);
    --highlighcolor: #333;
}

* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--maincolor);
    color: var(--secondarycolor);
}
 /* nva bar */
header {
    background-color: hsl(195, 83%, 57%);
    padding: 20px 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
  
nav ul li {
    margin: 0 15px;
}
  
nav ul li a {
    color: var(--secondarycolor);
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--secondarycolor);
    color: var(--maincolor);
    padding: 8px;
    border-radius: 8px;
}
nav p {
    margin: 5px;
    font-weight: bolder;
}
nav p span{
    color: var(--highlighcolor);
    font-weight: bolder;
}

/* hamburger */
.hamburger{
    display: none;
    margin-right: 20px;
    cursor: pointer;

}

.dropdown-menu{
    display: none;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    list-style: none;
}
.dropdown-menu li{
    padding: 12px 16px;
}

.dropdown-menu li a{
    align-self: center;
    text-decoration: none;
    color: var(--highlighcolor);
    display: block;
    padding: 10px;
    transition: 0.5s ease;
}
.dropdown-menu li a:hover{
    background: var(--secondarycolor);
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 80vh;
}
  
.container {
    width: 780px;
}
.high{
    color: var(--highlighcolor); 
}
.highlight {
    color: var(--highlighcolor);
    font-size: 2rem;
    font-weight: bolder;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20, end) forwards infinite;
}

  
.hero p {
    font-size: 18px;
    line-height: 1.5;
}

.profile-picture img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    clip-path: ellipse();
    object-fit: cover;
    border: 4px solid var(--secondarycolor);
    padding: 5px;

}
@keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}
.hero .socialMedia i{
    margin-left: 40px;
}
.hero .socialMedia .fab{
    position: relative;
    color: rgb(255, 255, 255, 0.8);
    transition: 0.5s ease;
    background-color: var(--highlighcolor);
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    box-shadow: -20px 20px 10px  rgba(0, 0, 0, 0.5);

}
/* .hero .socialMedia .fab::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 20px;
    background-color: hsl(0, 0%, 40%);
} */

.hero .socialMedia .fab:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(10px, -10px);
}


/* game */

#game-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: transparent;
    border: 2px solid var(--secondarycolor);
    border-radius: 50%;
}

.hidden{
    display: none;
}
/* skills */
.skill-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#skills, #projects, #contact{
    border: 3px solid rgb(255, 255, 255, 0.2);
    border-radius: 6px;
    padding: 20px;
    margin-left: 20px;
}

.html, .css, .javascript, .react, .git, .python, .bootstrap, .mySQL, .Django, .php{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid transparent;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
    height: 20px;
    width: var(--d);
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.4); 
}

.line.animate{
    animation: fillBar 2s ease;
}
@keyframes fillBar {
    0%{
        width: 0%;
    }
    70%{
        width: var(--d);}

}


/* projects */
.projects-container{
    display: flex;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    flex-grow: 1;
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 3px solid var(--secondarycolor);
    border-radius: 8px;
    width: 18rem;
    box-shadow: 5px 5px 5px hsl(0, 0%, 60%);
    transform: scale(0, 0);
    transition: var(--i);
}
.card.animate{
    transform: scale(1, 1);
}
/* @keyframes zoomIn{
    to{
        transform: scale(1, 1);
    }
} */
.card img{
    width: 80%;
    clip-path: ellipse();
}
.cardbtn{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--secondarycolor);
    border-radius: 8px;
    color: var(--secondarycolor);
    font-weight: bold;
    transition: 0.4s ease;
}

.cardbtn:hover{
    background-color: var(--secondarycolor);
    color: var(--maincolor);
}

/* contact */
#contact{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}

#contact input, textarea{
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: inset 4px 4px 4px var(--maincolor);
    border: none;
}

#mesageForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactus button{
    padding: 8px 15px;
    background-color: var(--secondarycolor);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(255, 255, 255, 0.2);
    cursor: pointer;
    transition: 0.5s ease;

}
.contactus button:hover{
    background-color: rgb(255, 255, 255, 0.2);
    color: var(--secondarycolor);
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: hsl(195, 83%, 57%);
    color: var(--secondarycolor);
}
footer ul a{
    text-decoration: none;
    color: rgb(255, 255, 255, 0.8);
    transition: 0.5s ease;
}
footer ul a:hover{
    color: var(--highlighcolor);
    border-bottom: 2px solid var(--highlighcolor);
}
footer ul li{
    list-style: none;
}
footer .socialMedia i{
    margin-left: 10px;
}
footer .socialMedia .fab{
    color: rgb(255, 255, 255, 0.8);
    transition: 0.5s ease;
}
footer .socialMedia .fab:hover{
    color: var(--highlighcolor);
}
/* dark mode */

#dark{
    position: relative;
    appearance: none;
    height: 20px;
    width: 40px;
    background-color: #000;
    border-radius: 20px;
    outline: none;
    cursor: pointer;

}
#dark::after{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: var(--secondarycolor);
    top: 50%;
    left: 5px;
    border-radius: inherit;
    transform: translateY(-50%);
}

#dark:checked{
    background-color: var(--secondarycolor);
}
#dark:checked:after{
    background-color: black;
    left: 23px;
}

.darkmode{
    background-color: black;
    .highlight{
        color: rgb(255, 255, 255, 0.4);
    }
    #contact input, textarea{
        box-shadow: inset 4px 4px 4px hsl(0, 0%, 20%);
    }
    .cardbtn:hover{
        color: hsl(0, 0%, 20%);
    }
    .hero .socialMedia .fab{
        box-shadow: -20px 20px 10px  rgb(255, 255, 255, 0.3);
    }

}

.darkfooter{
    background-color: hsl(0, 0%, 20%);
    nav ul li a:hover {
        color: hsl(0deg, 0%, 20%);
    }
    nav p span{
        color: rgb(255, 255, 255, 0.2);
    }
}
/* Media Queries */

/* For screens with a maximum width of 768px (tablets and smaller) */
@media only screen and (max-width: 768px) {
    /* Header and Nav */
    header {
      padding: 10px 0;
    }
    .nav-container ul{
      display: none;
    }

    .hamburger {
      display: block;
    }
  
    /* Hero */
    .hero {
      flex-direction: column;
      padding: 20px;
    }
    .container {
      width: 100%;
    }
    .profile-picture img {
      height: 200px;
      width: 200px;
    }
  
    /* Skills */
    .skill-container {
      grid-template-columns: 1fr;
    }
}
  
  /* For screens with a maximum width of 480px (mobile phones) */
  @media only screen and (max-width: 480px) {
  
    /* Hero */
    .hero {
      padding: 20px;
    }
    *{
        font-size: 14px !important;
    }

    .profile-picture img {
      height: 200px;
      width: 200px;
    }
  
    /* Skills */
    .html, .css, .javascript, .react, .git, .python, .bootstrap, .mySQL, .Django, .php {
      height: 20px;
    }
  
  }
  @media (max-height: 700px) and (max-width: 480px) {
    .profile-picture img {
        height: 150px;
        width: 150px;
      }
  }

  